# Git
.git
.gitignore
.gitattributes

# Node
node_modules
npm-debug.log

# GTFS-Rohdaten und DB (werden im Container neu erzeugt)
zvv-data/gtfs/*.txt
zvv-data/gtfs/*.zip
zvv-data/*.db

# Tests
test/

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel
